<!DOCTYPE html>
<!--
<html>
    <head>
        <title>Instant Action Box Template</title>
        <meta charset=utf-8 />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Roboto:900,500,700,400,300italic,300,200,100italic,100' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
-->
<!--     Uncomment the stylesheet link below if editing -->
<!--         <link rel="stylesheet" href="../css/box_template.css" /> -->
        <section class="box">
            <section class="left {{background_gradient}}">
                <section class="left_content">
                    {{left_content}}              
                </section>
                <section class="left_label">
                    {{left_sub_label}}
                </section>
            </section>
            
            <section class="right">
                <section class="account_details">
                    <section class="account_description">
                        {{account_description}}
                    </section>
                    <section class="account_username">
                        {{account_username}}
                    </section>
                    <section class="account_number">
                        {{account_number}}
                    </section>
                </section>
                
                <section class="description">
                    {{{description}}}
                </section>
                
                <section class="right_footer">
                    <section class="right_footer_left">
                        {{right_footer_left}}
                    </section>
                    <section class="right_footer_middle">
                        {{right_footer_middle}}
                    </section>
                    <section class="right_footer_right">
                        {{right_footer_right}}
                    </section>
                </section>
            </section>
        </section>
<!--
    </body>    
</html>
-->